[2017-10-04 10:55] TomGrill opened #1 "Cannot create bindings"
Hi I did as you suggest in the wiki: https://github.com/mk-5/gdx-fireapp/wiki/iOS-Firebase-SDK-installation step4

When i try to create the bindings I get this error:

[code]

More detailed:

[code]

This is the app I am working with to test: Simple gds app.
https://github.com/TomGrill/gdx-fireapp-test

[2017-10-04 11:05] TomGrill opened #2 "ClassNotFoundException: mk.gdx.firebase.ios.App"
When I run this app: https://github.com/TomGrill/gdx-fireapp-test

I get this exception:

[code]

Since the class is there I think it might happen because each class exists twice in the jar:
Image: https://ibb.co/nqyStw

This is the app I am working with to test: Simple gds app.
https://github.com/TomGrill/gdx-fireapp-test

[2017-10-04 11:14] TomGrill commented on #2
Ok solved by adding the proguard rules.

[2017-10-04 11:20] TomGrill commented on #2
Well adding the proguard rules throws another error. Maybe because of missing bindings which I cannot create. See issue #1

[2017-10-05 09:06] mk-5 commented on #1
Hi! Thanks for reporting!
and nice to meet you! I use some of your libs in my projects.

It is a problem with framework path inside firebase.nbc file.
Your Pods is installed inside
`FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework` -

and path inside **firebase.nbc** is:
`FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework`.
Is same issue for FirebaseStorage, FirebaseAuth,

[2017-10-06 14:31] TomGrill commented on #1
pod --version: 1.3.1

Currently trying the PR

[2017-10-06 15:00] TomGrill commented on #1
Ok, this are my resulsts.

Manually adjusting the correct paths did work. Not sure why the wrong paths appeared.

After I pulled your PR it still did not work. I adjusted the paths manually in the nbc windows and then everything went through. Kinda strange.

Maybe some invisible specialchars cause the problem because the manually working file is exactly the same you served with the PR.

[2017-10-06 15:13] TomGrill commented on #2
Ok this was just an issue caused by missing bindings from issue #1

[2017-10-06 15:13] #2 closed

[2017-10-06 15:14] TomGrill commented on #1
Ok seems to work so far. I like the using the pod command, I will try to implement that in my extensions as well.

[2017-10-06 19:51] mk-5 commented on #1
Mhmm yes, this is strange.

I installed pods via pod version 1.1.1.
I will do some tests with it, but at this point notes at wiki page must be enough.

[2018-01-07 05:17] hermanghub opened #3 "onDataChange called receiving warning"
I've tried the readValue method and managed to retrieved the records on Firebase realtime database.
Then I try to implement onDataChange with (MyClass.class, new DataChangeListener<MyClass>()) and override the onChange method.

When running my app, I saw below in Logcat:
W/ClassMapper: No setter/field for xxxx found on class ...MyClass

and onChange is not called.

Please find the definition of My

[2018-01-07 05:24] hermanghub opened #4 "correct way to call readValue method"
My first attempt to call readValue is as suggested in the read.me as readValue(List.class, new DataCallback<List<MyClass>>(). However, when I tried to retrieve MyClass record from the List I got something like "cannot cast HashMap to MyClass" run time exception error when running.

Finally, I made a workaround to call as readValue(Map.class, new DataCallback<Map<String, Object>>()) and then manual

[2018-02-05 21:12] mk-5 commented on #3
Hi!

Unfortunately at this point is no way to get limited number of rows. You can try limit records by structure.
Yes, support for filtering/querying will be here in next release - but at this moment i don't know when it will be.

Can you put some sample code, how do you call GdxFireapp API?

[2018-02-05 21:13] mk-5 commented on #4
Hi!

Can you put some sample code how do you call the GdxFireapp API?

[2018-02-11 11:31] hermangh commented on #4
I resolved this by calling like this:
... readValue(List.class, new DataCallback<List<Map<String, Object>>() {
                       @Override
                        public void onData(List<Map<String, Object> data)
                        {
                              (do the manual casting from Map to MyClass here)
                        }

                        @Override

[2018-02-11 11:33] hermangh commented on #3
Please refer to the sample code I mentioned in #4. Thanks.

[2018-02-12 11:02] mk-5 commented on #4
So, ok - if you call like this `readValue(List.class, new DataCallback<List<MyClass>>` you received ClassCastException.

If DataCallback looks as follow: `DataCallback<R>` and R is a list, api retrieving generic type from List and should make deserialization for you before return data.

What platform did you use? It can help me to find the issue because deserialization from DB has different implem

[2018-02-14 04:39] hermangh commented on #4
I'm running on a iPad mini 2.

I've uploaded the JSON export of my database here -> https://github.com/hermangh/posting/blob/master/ht-bingo-c1d01-export.json

Please see if that explain why the simple structure cannot be deserialised properly. Thanks.

[2018-02-14 10:55] mk-5 commented on #4
Thanks, this will be very helpful.
I'll check it soon - this week - and then get some fix

[2018-02-16 23:20] mk-5 commented on #3
`W/ClassMapper: No setter/field for xxxx found on class ...` is throwing when there are some fields inside DB which your POJO does not cover by setters. Look here: https://firebase.google.com/support/guides/firebase-android#update_your_java_model_objects .
GdxFireapp Api ignore unknown fields on ios, but i still working on it at android platform.
I'll let you know here when I'm done - very soon

[2018-02-17 03:32] hermanghub commented on #3
Thanks for the reference link. I'll study it. Thanks.

[2018-02-21 23:14] mk-5 commented on #1
The pods frameworks paths was corrected in the 1.2.0 release, so i close this issue.

[2018-02-21 23:14] #1 closed

[2018-02-26 21:51] mk-5 commented on #4
Please check version 1.2.0.

[code]

[2018-03-02 07:05] hermanghub commented on #4
Thanks. I'll try v1.2.0

Will let you know the result. Thanks.

[2018-05-22 07:20] burf2000 opened #5 "Progress"
Hi there, this looks great, are you still working on it?  I have made a simple online game where I just want to pole position and update where stuff is, have a scoreboard etc.

Do you think I could use this?  I used Parse in the past and written my own backend?

[2018-05-24 07:16] burf2000 opened #6 "fatal error: 'FirebaseCore/FirebaseCore.h' file not found"
Using the current Firebase it does not seem to contain a Framework file, just the source?

[2018-05-25 07:08] burf2000 commented on #6
You need to use a version of firebase 4.x

[2018-06-07 14:12] hermangh commented on #4
Sorry for the long wait. I'm using v1.3.1 and the read value method works perfectly into the List<MyClass> variable. Thank you so much!

[2018-06-07 14:17] hermanghub commented on #4
Sorry got multiple accounts. Problem solved! Thanks.

[2018-06-07 14:17] #4 closed

[2018-06-08 10:37] hermanghub commented on #3
Recently used v1.3.1. The warning is gone on both Android and ios! Thanks anyway!

[2018-06-08 10:37] #3 closed

[2018-06-08 18:45] mk-5 commented on #5
Hi!

Yes, i will work on it for sure. The next feature will be google/facebook authorization, but if is something that you need NOW - please create issue with feature description - I will take care of it for sure.
If you found some bug or problem, please create issue also.

The API do not had full Firebase API coverage - but I plan to add them one by one. I use this API in some comercial apps now

[2018-06-08 19:39] mk-5 commented on #6
Yes, you are right. Current version (1.3.1) was build with Firebase SDK 3.*.

I should do some update for the latest version. I will do that, please wait for some info here

[2018-06-16 21:43] #6 closed

[2018-07-13 13:33] kasandrop commented on #5
Is it possible to arrange some kind of consultancy .I would like you to explain me some of  your code from gdx-fireapp. I am not really an expert but really would like to understand some difficult parts. I am happy to reward you that time spent with me. I am Polish as well so consultancy in Polish . Please let me know if it is possible to arrange. Kasandrop@gmail.com

[2018-07-17 18:51] mk-5 commented on #5
Sure! Feel free to ask me at git@mk5.pl (you can write emails in polish ;) )

[2018-07-24 09:54] kasandrop commented on #5
Czesc.
Bylbym zainteresowany 1h na razie takiego spotkania konsultacyjnego na
skype w celu zebys mi dokladnie umowil twoj napisany kod w javie. Api dla
database i authorization. Te dwa moduly. Interesuje mnie szczegolnie i
tylko  co sie dzieje po kolei od momentu polaczenia z database do momentu
otrzymania danych przez funkcjje callback. Z wykorzystaniem debuggera
staralem sie przesledzic kolejne

[2018-08-27 14:45] Ashraf-Al-Odat opened #7 "Crashlytics info."
Hi, I'm using this project in my game and it's a really great tool thnx for building it.

But now I'm planning to add a crash report mechanism. So i check google to see there service and they said that Firebase Crash Reports will no longer be accessible after September 8, 2018.

So my question is, what is implemented the new Crashlytics or the old crash report?

[2018-08-28 10:41] mk-5 commented on #7
Hello!

Thank's for reporting. Yes, I know about that, the Crashlytics support will be add in the next release and it will replace Firebase Crash.
Watch the repo, it will be release very soon.

[2018-08-29 17:31] mk-5 commented on #7
Crashlytics was added in version 1.6.1. For more info go to this Wiki page: [Crashlytics](https://github.com/mk-5/gdx-fireapp/wiki/Crashlytics)

[2018-08-29 17:31] #7 closed

[2018-10-03 02:27] kasandrop opened #9 "Password reset function"
Password reset function is missing. Firebase has got this function:
FirebaseAuth.getInstance().sendPasswordResetEmail(email@email.pl)
Serious login mechanism  needs that  functionality..

[2018-10-03 02:29] kasandrop opened #10 "email verification functionality"
Atm it is impossible to send  an email to user to verify  an email address.

[2018-10-04 09:09] mk-5 commented on #9
Thanks for reporting.

Yes, you are right. It will be add in next release! 1.8.1

[2018-10-04 09:11] mk-5 commented on #10
Thanks for reporting.

Ok, as far as this moment API does not contains this functionality.
It will be add in next release! 1.8.1 (very soon)

[2018-10-08 22:49] mk-5 commented on #9
The new version (1.8.1) is available. Example with sendPasswordResetEmail is here: https://github.com/mk-5/gdx-fireapp/wiki/Examples#user-menage

[2018-10-08 22:49] #9 closed

[2018-10-08 22:49] mk-5 commented on #10
The new version (1.8.1) is available. Example with email verification is here: https://github.com/mk-5/gdx-fireapp/wiki/Examples#user-menage

[2018-10-08 22:49] #10 closed

[2018-10-21 05:51] kasandrop opened #11 "Updating the current user."
Thanks a lot for resolving previous issues so quick and efficient.
Especially the new feature which allows to send an email to the user to verify the email address.
But there is a problem. When the current  user clicks the link provided in the email it is not easy to check that verification state of the user. FirebaseUser object is cached so in order to check verification state of a user, android

[2018-10-21 16:50] kasandrop commented on #11
There is workaround . To force firebase to update user the following code will work:

firebaseUser.updateEmail(firebaseUser.getUserInfo().getEmail(), new CompleteCallback() {
                    @Override
                    public void onSuccess() {
                        GdxFirebaseUser firebaseUserNew=GdxFIRAuth.instance().getCurrentUser();
                        log.debug("new email:"+fireba

[2018-11-03 07:17] kasandrop opened #12 "pojo classes can have only String fields in order to work with database reading ."
For example:
[code]

  In order  the above code to work  the User class must not have boolean or int fields.

For example the following pojo class will cause error:

[code]

 I am getting the following error:
 java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference
        at mk.gdx.firebase.deserialization.DataCallb

[2018-11-12 10:16] mk-5 commented on #11
Mhmm okey! Thanks for the report again. I'm sorry I did not answer sooner but I was out of any working for sometime.

You will see .reload() method in the next release, for sure!

[2018-11-17 10:55] mk-5 commented on #12
API has such functionality when you getting single-value and tell API you want to get a List, API wraps single value into the list. So in above code this is the case. This null pointer is bad for sure, API should redirect this fail to "onError" method, I'll fix that.  But for now take a look at this few possibilities:

\- In above code, you have all fields public and only this boolean is package-p

[2018-11-17 13:01] kasandrop commented on #12
What I did was that all my fields  of User class are String and then I did some kind of type conversion.
[code]

[code]

but you  gave me a better idea .
I will try:
[code]

Thanks again for your great work.

[2018-11-21 21:48] #11 closed

[2018-12-22 22:19] Corrob opened #13 "[iOS Database] Can't read string value"
**Describe the bug**
When I try to read a String from the database, I get the follow error:
Result data type mismatch. Wanted type: class java.lang.String, result data type: class java.lang.String

**To Reproduce**
Run the following

[code]

I expect it to log "some string". Instead, I get the error:
Error...
Result data type mismatch. Wanted type: class java.lang.String, result data type: class j

[2019-01-02 20:36] mk-5 commented on #13
Hello! and thanks for reporting ! :)

I'll look on that and let you know

[2019-01-02 20:54] mk-5 commented on #13
Okay, you are right, the issue is in DataProcessor. The ios firebase api returns String instead of NSString.

I'll fix that very soon. The fix will be in version 1.9.2

[2019-01-03 21:23] #13 closed

[2019-03-26 20:17] xvadim opened #16 "An access not only to list values but also to its keys or a wrapper for the getKey() firebase method"
**It would be useful to get keys of list items received via the query**
I am developing a multiplayer game and need such functionality for implementation game rooms.
My idea is next:
1. The first player creates a new record for a game room with at least two children: *firstPlayer* and *secondPlayer*. For the *firstPlayer* the initial value will be the name of creator, for the *secondPlayer* is an

[2019-03-29 19:13] mk-5 commented on #16
Good point but I think it should already works.

I've made a quick test for that and for Andriod platform it works, I'll check that for other platforms soon.
Please take a look: https://github.com/mk-5/gdx-fireapp/blob/2.0.0-develop/e2e/core/src/pl/mk5/gdx/fireapp/e2e/tests/DatabaseReadPojoMapWithKeysTest.java

So you should be able to do something like:

[code]

it is what you need, isn't it? :)

[2019-04-01 13:47] xvadim commented on #16
Thanks for your answer.
Unfortunately it works just for readValue, i.e.:

[code]

But for queries:

[code]
it crashes:

java.lang.IllegalStateException: Filter should be applied only for the List type
        at pl.mk5.gdx.fireapp.database.FilteringStateEnsurer.checkFilteringState(

Of course, I can read ALL values and filter its in my code, but it would be nice to have support of filtering out-of

[2019-04-02 19:47] mk-5 commented on #16
yes, that should be possible.

I'll return to you with something soon; please look forward to an answer here :)

[2019-04-02 22:18] mk-5 commented on #16
@xvadim I've just deployed the new 2.0.1 version with `Map` type allowed for filtering; it should work now, take a look :)

[2019-04-03 08:55] xvadim commented on #16
It works! Thanks a lot!!

[2019-04-03 08:56] #16 closed

[2019-04-03 09:08] xvadim opened #18 "Support of ChildEventListener"
It would be nice to have a special method for list events, i.e. support of ChildEventListener. It will allow don't read a full object via the method *onDataChange*, but just only newly added (or changed) data.

In this case code may look like this (in this example *turns* is a list of all players' turns during a game):

[code]

[2019-04-03 19:49] mk-5 commented on #18
good point, thanks for an issue report.

But I really wouldn't like to break promise flow there and add some special type of `Consumer`.
The proposition:
[code]
Maybe something like that should do the trick, what do you think? The `ChangeBehaviour` varargs argument will be optional.

[2019-04-03 20:33] xvadim commented on #18
Hi,
your proposition looks good.

Btw, is your email still the same: git@mk5.pl ?

[2019-04-04 17:58] mk-5 commented on #18
yes, git@mk5.pl is a valid email.

Okay, so that will be next feature - I'll do that soon

[2019-04-10 20:38] mk-5 commented on #18
hello, I'm back with good news. Please check the latest `2.1.0` version, I've added brand new `onChildChange` method to the API.

Example of usage:

[code]

[2019-04-11 10:44] xvadim12 commented on #18
Thanks a lot! Will try.

[2019-04-18 08:39] xvadim commented on #18
It works! Thanks a lot!

[2019-04-18 08:39] #18 closed

[2019-06-08 18:56] Corrob opened #21 "[Android Database] Transaction always fails if you don't first set a value that run"
**Describe the bug**
My transaction always fails if I don't first set a value in the same run. The value can exist in the database, but if I don't set it that same execution, I get the following crash:
[code]

**To Reproduce**

[code]

If I add

[code]

right before the transaction, then it works. However, this defeats the purpose of using the transaction.

**Expected behavior**
The transaction sh

[2019-06-09 00:49] PandlaS opened #22 "Default FirebaseApp is not initialized in this process com.mygdx.game. Make sure to call FirebaseApp.initializeApp(Context) first."
**Describe the bug**
I am getting this message: Default FirebaseApp is not initialized in this process com.mygdx.game. Make sure to call FirebaseApp.initializeApp(Context) first.

**To Reproduce**

Json File: android/google-services.json

@Override
	public void create () {
		batch = new SpriteBatch();
		img = new Texture("badlogic.jpg");
		**GdxFIRApp.inst().configure();**
		**GdxFIRDatabase.inst(

[2019-06-09 21:44] PandlaS commented on #22
it was missing 'google play' from class path. Thanks

[2019-06-09 21:44] #22 closed

[2019-06-10 18:21] mk-5 commented on #22
no problem, if any other problems occur or you need some new feature to be covered - please let me know :)

[2019-06-10 18:22] mk-5 commented on #21
thanks for the report, I'll look at this and come back to you with some feedback

[2019-06-10 21:54] PandlaS commented on #5
hi @mk-5 ,
Is it possible to support FireStore (database). Right now, it seems only RealTimeDatabase is supported, if you can just add the support for Firestore as well that will help a lot.

Thanks.

[2019-06-11 20:44] mk-5 commented on #5
@PandlaS yes sure, it will be the next feature then :)

Currently, I'm working on RemoteConfig API, so FireStore will be the next

[2019-06-12 17:36] PandlaS commented on #21
Having the same issue:
Getting the message, when trying to run a transaction without setting the database values first.

[2019-06-13 23:22] mk-5 commented on #21
Try the new **2.1.1** version - I hope that it fixed now :) The problem was because of aborting transaction when no initial value provided

[2019-06-13 23:31] PandlaS commented on #21
Boom ! Just tried v 2.1.1 and it worked like a charm. Thanks, mk-5. I was eagerly waiting for this fix.

[2019-06-14 18:08] mk-5 commented on #21
No problem :)

[2019-06-14 18:08] #21 closed

[2019-06-15 02:22] Corrob commented on #21
Works for me too. Thanks!

[2019-06-17 23:30] PandlaS commented on #21
I am having some issues with ios-moe (it works perfectly for android).  Can somebody check of ios-moe and let me know whether it's working ?

Thanks,

Log:

 *** Terminating app due to uncaught exception 'java.lang.RuntimeException', reason: 'java.lang.RuntimeException: The database value at given path was not be able to commit
	at pl.mk5.gdx.fireapp.promises.FuturePromise.doFail(FuturePromise.jav

[2019-06-18 21:00] mk-5 commented on #21
okay, I will check that

[2019-06-27 19:00] mk-5 commented on #21
@PandlaS  what type of value you try to modify within that transaction? The problem is caused because firebase has returned the message: "not committed" - it means that value wasn't committed for some reason. Maybe something is wrong with java->ios type mapping, but I need to know some more details about the type :)

[2019-06-27 19:07] PandlaS commented on #21
@mk-5 : It's  Long type (basically a userId). It seems to be working on Android (same code, no change) but when I run ios-moe, it starts giving that error.

[2019-06-29 18:12] mk-5 commented on #21
@PandlaS please check the new 2.1.2 version - there was a problem with "default" value. Transaction result may not be null, so for example, when type should be String - empty string should be provided instead of null, and that caused the problem. I hope it is gone now; please check it :)

[2019-07-02 10:10] Luca1152 opened #25 "[Database] Can't do map conversion from type: java.lang.Long"
**Describe the bug**
I am trying to read a number (Long) from my Firebase Realtime Database on Android in my Kotlin+libGDX game, but I get always an exception.

**To Reproduce**
Here is how the database looks like:
![database](https://i.imgur.com/gJzobIT.png)
Here is the code:
[code]
The following exception is thrown:
[code]
If I replace the `Long` with any other class, such as `String` (so `.read

[2019-07-02 13:22] mk-5 commented on #25
Thanks for reporting :) I'll check that, and I'll let you know.

It may be some gdxfireapp API<>KOTLIN related problem because Long value reading should work fine

[2019-07-02 18:40] mk-5 commented on #25
Hello, I've checked that and that method causes the problem in your case:

[code]

So, it looks like something is wrong with Kotlin->Java transformation, I'm also checked if read Long value works on Java - and it works.

Could you check how the compiled Java code looks like?

[2019-07-02 18:54] mk-5 commented on #25
Hello, I've checked that and that method causes the problem in your case:

[code]
It looks like it returns false for Long ...

So, it looks like something is wrong with Kotlin->Java transformation, I'm also checked if read Long value works on Java - and it works.

Could you check how the compiled Java code looks like?

[2019-07-02 20:06] mk-5 commented on #25
oookay :) I think I found the problem, take a look here: https://pl.kotl.in/Wur_3CkLd

Long::class.java.getName() returns "long" in Kotlin, without package name
String::class.java.getName() returns "java.lang.String" - same as Java

[2019-07-02 20:18] mk-5 commented on #25
okay, so I've pushed FIX for that, please looking forward to version 2.1.3

[2019-07-02 20:22] Luca1152 commented on #25
Yup! That was it! Sorry for not replying about the compiled Java code, I just got home :).

The following code now works:
[code]
(replacing `readValue(Long::class.java)` with `readValue(java.lang.Long::class.java)`)

Thanks! ❤️

[2019-07-02 20:57] mk-5 commented on #25
💪 💪 💪  great :)

anyway, I've adopted API to recognize kotlin names as well - but it is still building ... high traffic at Travis  :)

[2019-07-03 18:43] #25 closed

[2019-07-07 16:51] Daniel-Donev commented on #12
Hi
I have the same problem

I get from Firebase list of my game levels and if have some fields in Level.class different from String type
return null pointer

in order to use @MapConversion I need to all of my fields to be String

[2019-07-07 17:00] Daniel-Donev commented on #12
public class Level {
    public int id;
    public String type;

    public Level(){}
    public Level(int id, String type){
        this.id = id;
        this.type = type;
    }
}

Map<String, Level> LevelArray = new HashMap<String, Level>();
        Level Level1 = new Level(1, "1");
        LevelArray.put("a1", Level1);

        Level Level2 = new Level("5", "1");
        LevelArray.put("a5", Le

[2019-07-08 18:35] mk-5 commented on #12
@Daniel-Donev thanks for reporting!

I've checked that, and it looks like the problems are within the primitive types, please try without those.
So instead of, `public int id;` please try `public Integer id;`

In the middle time, I'll check why primitives cause problems with deserialization

[2019-07-08 20:05] Daniel-Donev commented on #12
Thanks for the fast response!

I try to change int to Integer but the problem is still there.
They are recorded to the Firebase correct, but after deserialization my Level objects is null

[2019-07-08 21:44] mk-5 commented on #12
I need some more information, your example looks like missing something.

What is the `LevelArray` object? I don't see initialization for it. To make that works it should be an instance of List, (ArrayList for example). libGDX Array object wouldn't work.

Anyway, if you'd like to create objects list, I think the good aproach is to use `.push()`. Like this:

[code]

If you need to do that sequentia

[2019-07-13 09:56] mk-5 commented on #12
@Daniel-Donev any updates on this? :) could you give me some more info? what is database structure? and how you try to get that Levels list which causes null values inside?

[2019-07-13 11:58] Daniel-Donev commented on #12
Hi
sorry for delay response.
LevelArray  is HashMap:
`HashMap<Integer, Level> LevelArray = new HashMap<Integer, Level>();`

save it in Firebase with (all fine in save)

[code]

If I have some fields in Level.class different from String type when a try to get them have return null pointer (try to change them to Integer as you suggest)

[code]

Gdx.app.log("test","" + Levels); ...  return []

[2019-07-13 12:04] Daniel-Donev commented on #12
This is a full example of my code:

[code]

[code]

[2019-07-13 20:47] mk-5 commented on #12
Okay, there are few things:

1. Yep, I have also checked that, and libGDX JSON serialization/deserialization doesn't work well with primitives by default -  I'm working right now to fix that, it should be merged soon.

2. The list is empty, probably because you don't wait for the result from the first call. You may chain promises like this:
[code]

3. Firebase SDK needs map keys to be String. So y

[2019-07-30 17:55] florianbaethge opened #27 "Database Read does not enter fail on Cast Exception"
**Describe the bug**
I am reading an object from the database. If a field of the object is of a different type in the POJO than in the database, it logically throws an exception within the API.

However, it never enters the `fail()` method of my promise, but still also the `subscribe()` Method.

**To Reproduce**

[code]

[code]

**Expected behavior**
The UserInformation class just constists of som

[2019-07-30 18:10] florianbaethge opened #28 "Transaction writes emptry String with Kotlin Long if value doesn't exist"
**Describe the bug**
I would like to increase a Long value in the database using a transaction. If the field already exists in the database and contains a float, it works fine, but if it doesn't exist, the transaction will run through without an error, but instead of writing a new number, an empty String is written in the database:

[code]

**Expected behavior**
If the value doesn't exist yet, it

[2019-07-30 18:19] mk-5 commented on #27
Hi!

Thanks for reporting. I will look at this really soon, and I will come back to you with some answer.

[2019-07-30 18:19] mk-5 commented on #28
Hi!

Thanks for reporting. I will look at this really soon, and I will come back to you with some answer.

[2019-07-30 18:46] mk-5 commented on #28
Increasing of `Long` within transaction should work pretty good - I have e2e test for exactly for that case. In your case, the problem may occur because `Long::class.java` is not a java Long representation. It's really tricky :) Take a look here: https://pl.kotl.in/e07iAZPbs

Can you change your code to:
[code]

and let me know if that would help?

[2019-07-30 19:30] florianbaethge commented on #28
Thanks for the fast help!

Yes I figured this has something to do with Kotlin and Java differences :(

The thing is, that I can't write a function in Kotlin that uses the java.lang.Long... if I declare the types of that function with the java type, I cannot even use as "+"-operator because Kotlin doesn't know that operation.

If I write an extra Java class that would create the function with java

[2019-07-30 19:32] mk-5 commented on #27
No, you are totally right, the behaviour you have described should be expected.
I will investigate that problem, a little more deeply.

Maybe one remark here, you know that `subscribe ` is not needed to be called manually, don't you?
If you would like to change subscribes your firebase calls manually, you should say API about that by calling: `GdxFIRApp.setAutoSubscribePromises(false)`

In your ca

[2019-07-30 19:44] mk-5 commented on #27
ookay, I've checked that, and the problem occurs because map<>pojo conversion is done after firebase api call, and fail callback doesn't catch that.

I will make some fix for that :)

[2019-07-30 19:48] florianbaethge commented on #28
Moving the whole database write process to a Java class did solve that problem for me, but it's quite inconvenient... My original database functions use generic callback listeners, which don't play nicely with Java as well. But still, at least that's a first temporary solution :D

[2019-07-30 19:57] florianbaethge commented on #27
I've tried with `then()` before and also changed the order of `fail()`... but it seems you found the cause... ;)

I must say, you are awesome! Cudos to the fast response times!

[2019-07-30 20:40] mk-5 commented on #27
No problem.

The fix version 2.1.4 is already in deployment, so it should be available in a minutes

[2019-07-30 20:43] mk-5 commented on #28
Yes, I will add Kotlin types recognizing, it shouldn't be a problem. I've added such a feature while reading the value - there was exactly the same problem like this one :)

[2019-07-30 20:50] florianbaethge commented on #27
You are awesome!

P.s: You should add a PayPal donation button ;)

[2019-08-02 19:37] #27 closed

[2019-08-26 22:32] #28 closed

[2019-09-19 15:04] florianbaethge opened #31 "Filters/orderBy are not resetted between multiple queries"
**Describe the bug**
I've just tried to perform several database fetch calls, but it seems that the database instance somehow keeps the filters made on another query.

When I change the order of the queries and fetch the one without filters first, it works! But if the fetch without filter or orderBy settings is called after the other one, it crashes with an IllegalStateException:
[code]

**To Repr

[2019-09-19 18:24] mk-5 commented on #31
Thanks for reporting!

Please, expect some news here. I will take this topic up, as soon as possible ;)

[2019-09-26 22:11] mk-5 commented on #31
Please check the latest version 1.3.6 - that should help.

If I may be honest, I haven't reproduced your issue, but I think I found the reason.
"Query state" was cleaned up after firebase execution. In case of concurrent calls (like data change listening + read value once), that probably had caused problems.

[2019-10-19 11:47] mk-5 commented on #31
@florianbaethge have you checked if the latest version works for you :)?

[2019-10-21 06:45] florianbaethge commented on #31
Hi,

sorry for not writing back. I've upgraded the version and tried it. Works for me :) Thank you!

[2019-10-21 06:45] #31 closed

[2020-01-11 22:16] mk-5 opened #36 "GWT doesn't work"
**Describe the bug**
GWT firebase integration is broken

**To Reproduce**
Run any of GdxFIR*** method on html.

**Expected behavior**
It should work the same way as for the other platforms.

**Platform (please check one of the following):**
 - [ ] Android
 - [ ] iOS
 - [X] Web

[2020-01-18 20:38] mk-5 commented on #36
Hi @jeffgamedev

There is a new version 2.1.7. Many small fixes for GWT have been provided there
I'm not sure if EVERYTHING is working, I had some problems to run database API.

Basically, GWT backend should start working again 🤞 feel free to check the latest version, and report any issue here :)

[2020-01-20 14:42] jeffgamedev commented on #36
Hi MK5!

I'm hoping I have time to check this out tonight! Thanks again! I'll let
you know my results.

Best,

Jeff

On Sat, Jan 18, 2020 at 2:38 PM Mk5 <notifications@github.com> wrote:

[2020-01-22 03:14] jeffgamedev commented on #36
Great news! My GWT Built with Fireapp!!

Now I must implement. I will let you know my progress!

Thanks again, my friend!

Jeff

On Mon, Jan 20, 2020 at 8:41 AM Jeff Brooks <jeph.brooks@gmail.com> wrote:

[2020-04-17 17:40] code4passion opened #38 "Didn't find class "pl.mk5.gdx.fireapp.android.App" on path: DexPathList"
When i try the instructions here i get following error.  Am using following dependencies.

Core
implementation "pl.mk5.gdx-fireapp:gdx-fireapp-core:2.1.7"

Android
dependencies {
    // your other dependencies..
    compile "pl.mk5.gdx-fireapp:gdx-fireapp-android:1.9.3"

    compile 'com.google.firebase:firebase-core:16.0.0'
    compile 'com.google.firebase:firebase-storage:16.0.1'
    compile 'co

[2020-04-21 20:43] mk-5 commented on #38
Hello @code4passion ,

mhmm you are using two different versions. 2.1.7, and 1.9.3 there are not compatible. Using the same version for `core`, and `android` should help .

But, I've got your point -> the android WIKI page is outdated. I will update it. Thanks for reporting!

[2020-07-14 21:54] yabaza97 opened #39 "Cannot remove event listener for real-time database"
**Describe the bug**
When I try to remove an event listener after getting the data that I want it does not get removed when ```cancel();``` is called. I've tried calling  ```cancel();``` multiple times but it still doesn't work. I'm not sure if it's a bug or is there something I misunderstood.

**To Reproduce**

Here is how I call it
[code]

And here is how I cancel it:

[code]

**Expected behavio

[2020-07-15 20:17] mk-5 commented on #39
Thanks for reporting! I need to check it first, and I will let you know

[2020-07-15 22:09] yabaza97 commented on #39
I found a work around I think, you can cancel it if you store the
```GdxFIRDatabase.inst().inReference("Rooms/").onDataChange(Map.class);```
as a ```ListenerPromise``` then use this variable to both call it and cancel it. Pretty much like in firebase where you store the reference and use it to add or remove events.
So here is how I made it:

[code]
That was the only I could make it work

[2020-07-15 22:11] mk-5 commented on #39
@yabaza97 okay, so as a short answer. The references to listeners are not working in "static" context. You need to get the listener reference, and cancel it (if needed).

[code]

You can use `.then`, but then you need to cast returned promise to `ListenerPromise` / ListenerPromise has .cancel method signature.

I will update WIKI page because there is no info about cancelling. What you already try

[2020-07-17 18:51] #39 closed

[2020-08-22 13:17] Daniel-Donev opened #40 "Feature request for roboVM ios backend"
Hi guys,

Are you planning to realize soon a version that supports roboVM ios backend, because ios-moe is removed from the latest libgdx version and is no longer supported?

Thanks!

[2020-08-24 02:20] tiagoalexs opened #41 "Can't seem to use OrderByChild to order results"
**Describe the bug**
Hello, i've been trying for the past couple of hours to try and add a leaderboard system to my university project, but i can't seem to order the results by the user score.

The "highScore" variables are stored as doubles and returned through the method below as Long variables.

![studio64_Tl7VKoONRk](https://user-images.githubusercontent.com/54414138/90997147-a6004480-e5b8-11e

[2020-08-24 20:30] mk-5 commented on #40
Hi!

👍 definitively, it's a must-be. I think it will be implemented in the next release. Keep track this issue

[2020-08-24 20:31] mk-5 commented on #38
@code4passion is that works for you?

[2020-08-28 21:39] mk-5 commented on #41
Hi @tiagoalexs

I need to check, I will let you know!

[2020-08-28 22:36] mk-5 commented on #41
@tiagoalexs fix will be ready soon. Please look forward to a new version

https://github.com/mk-5/gdx-fireapp/pull/42

[2020-08-29 20:43] mk-5 commented on #41
Hi @tiagoalexs

can you grab&check the latest version 2.1.8? I've added e2e test for a case like your case https://github.com/mk-5/gdx-fireapp/blob/master/e2e/core/src/pl/mk5/gdx/fireapp/e2e/tests/DatabaseOrderByChildTest.java  and it works.

I hope that fix will work for you as well -> if no, please let me know.

[2020-08-30 13:15] tiagoalexs commented on #41
Hi @mk-5
I've been testing it out and everything seems to be working alright.
Thanks for the fix!

[2020-09-01 20:15] mk-5 commented on #41
cool 👍

[2020-09-01 20:15] #41 closed

[2020-09-02 10:27] BeppeMarnell opened #43 "External manager class"
Hi, I have few years of experience with libGDX, I have used it a lot for university stuff. I was looking at various databases implementations in libGDX. This one is really good! Compliments and thank you for keeping the project updated!

I have a main class (the classic libGDX initial class) and a manager class where I put all the Firebase methods (as shown in the picture).
After few tests, nothin

[2020-09-02 11:06] BeppeMarnell commented on #43
Sorry for the post, I've managed to understand the problem. There is something to be with the "final" variables. So, no issue with the library.

[2020-09-09 19:35] mk-5 commented on #43
@BeppeMarnell no problem. Feel free to create an issue at any time

[2020-09-12 18:32] kaloyanhlebarov commented on #40
Upvote! I`m currently trying to release my game and this is the only issue I have on iOS that is stopping me. I`ll be very thankful if you can tell me roughly when do you plan to integrate that feature?

[2020-09-14 20:47] mk-5 commented on #40
I'm currently working on some game, and I also will need this RoboVM back-end ;) I'm planning to get this at some point of October. I hope that works for you

[2020-10-14 16:46] Daniel-Donev opened #44 "Firebase crashlytics support"
Hi guys,

From 15.10.2020 old version of fabric crashlytics is deprecated.
I try updating my project to android X and the new firebase crashlytics  SDK but FireApp is not supporting it. :(

Do you have any plans to support it and when?

[2020-10-17 12:37] mk-5 commented on #44
Hello @Daniel-Donev ,

sure 👍  it shouldn't be so tough / but currently, I need to focus on RoboVM IOS backend -> Multi-Os engine isn't supported by the latest libgdx version.

I will check how tough would it be, maybe I can bring it to FireApp quickly -> please monitor this issue ;)

[2020-10-17 12:38] #43 closed

[2020-10-17 13:13] mk-5 commented on #44
Hello again @Daniel-Donev

Good news ;) there are really minor changes between fabric and a new one -> I will try to bring it to gdx-fireapp today

[2020-10-18 00:13] mk-5 commented on #44
@Daniel-Donev it will be available with 2.2.1 version 🍻

[2020-10-19 10:55] mk-5 commented on #44
@Daniel-Donev stay tuned. Something goes wrong with a deployment. I will check it today. Anyway -> the version 2.2.1 will contain Crashlytics support

[2020-10-19 20:25] mk-5 commented on #44
@Daniel-Donev please check version 2.2.1

[2020-10-24 14:23] Daniel-Donev commented on #44
I`ve tested it and everything works fine.

Thank you very much for the great work!

[2020-10-24 15:53] #44 closed

[2020-11-09 23:11] mk-5 commented on #40
Unfortunately, I had a little delay, because of corona situation. No health issue, but I'm waiting for a new Mac, and my shipment is delayed.

Stay tuned, it's closer and closer with each day. For sure it has high-prio for me right now

[2020-11-10 07:43] Daniel-Donev commented on #40
Thank you very much!

[2020-12-18 22:11] mk-5 commented on #40
Good news, the new version 3.0.1 with RoboVM backend, and libgdx 1.9.12 is available to use.

I've updated the iOS quick start as well: https://github.com/mk-5/gdx-fireapp/wiki/iOS-Guide

[2021-03-02 11:54] Trurl101 opened #47 "Support for Firebase/Admob"
**Is your feature request related to a problem? Please describe.**
- Include Firebase-Admob in gdx-fireapp

**Describe the solution you'd like**
- There is already solution to include the [admob framework in libgdx/ios](https://github.com/MobiVM/robovm-robopods) but its relatively complicated and slow on updates and its the standalone framework so a no show in firebase analytics.
- Perhaps I am bi

[2021-03-02 12:47] Trurl101 opened #48 "Feature Request Sign-In with Apple"
**Is your feature request related to a problem? Please describe.**
- Firebase "Sign-In with Apple"

**Describe the solution you'd like**
Something like the google sign-in:
`GdxFIRAuth.inst().google().signIn().then...`
for example:
`GdxFIRAuth.inst().apple().signIn().then...`

It would make User Authentication on IOS much easier.

[2021-03-02 20:28] mk-5 commented on #47
Hello @Trurl101 ,

I'm 100% on 👍  It would be a really nice feature to implement. I will pick it up  as a next feature.

First things first, so the most critical thing here is to make it work together with libgdx. Interstitial, and Rewarderd advertisement shouldn't be a problem A banner could be more problematic

I will keep you informed here

[2021-03-02 20:29] mk-5 commented on #48
@Trurl101 sure, thanks for a request!

I'd try to bring it to gdx-fireapp next week

[2021-03-06 15:22] Daniel-Donev commented on #40
Hi, it seems that there are some problems with the integration.
First we had to add <forceLinkClasses><pattern>pl.mk5.gdx.fireapp.ios.**</pattern></forceLinkClasses> in robovm.xml to resolve some minor errors.

We get this error on authentication: pl.mk5.gdx.fireapp.ios.auth.GoogleAuthProvider$GIDSignDelegate cannot be cast to org.robovm.objc.ObjCObject

We are using this code for the Auth process

[2021-03-12 21:49] mk-5 commented on #40
Hello @Daniel-Donev

I'll test this Google signIn. No no, you are doing everything right. It looks like something went wrong with multi-os-engine -> robovm porting.

I'll check it

[2021-03-13 09:44] Daniel-Donev commented on #40
Thanks!
I will wait for your response.

[2021-03-13 22:48] mk-5 commented on #40
@Daniel-Donev pls check latest version 3.0.2. Should work now

[2021-03-15 19:11] Daniel-Donev commented on #40
Hi, thanks it's working now. :)

[2021-03-16 20:08] mk-5 commented on #40
🎆🎆🎆

the next step is to integrate more SignIn providers.

[2021-04-17 20:39] #40 closed

[2021-04-17 20:40] #36 closed

[2021-05-22 16:01] mk-5 commented on #48
sorry for a delay. I was out for a while. I'll try to pick this topic soon.

[2021-06-25 09:00] edosam opened #51 "Support for multiple realtime databases"
Problem:
There is a real need to connect to multiple (different) realtime databases for bigger projects. For example, there is one database for Android users and one for iOS users.

Solution:
It would be nice if there is a method like this:
**GdxFIRDatabase.inst(String dbUrl);**

Firebase doc:
https://firebase.google.com/docs/database/usage/sharding

[2021-06-26 10:42] mk-5 commented on #51
@edosam hello there!

good point. It should be easy to modify. I will pick it up

[2021-06-26 13:56] mk-5 commented on #51
@edosam hello again

so, the feature is ready to be merged and deploy. There is one problem: jcenter is dead.

I need to find some alternative. Maven-central deployments are pain in the ass

[2021-06-26 21:11] mk-5 commented on #51
@edosam okay, I decided to use mavenCentral for now.

The new version 3.1.0 is deployed. It should be available in maven-central search within ~2 hours.
Please let me know if that works for you.

The multiple-database feature works exactly as you proposed. There is a new method:

`GdxFIRDatabase.inst(String dbUrl)`

Wiki page with example: https://github.com/mk-5/gdx-fireapp/wiki/Database-sharding

[2021-06-28 21:03] mk-5 commented on #51
@edosam I'm closing this issue. Feel free to re-open it in case of any issues with multi-databases solution

[2021-07-01 09:01] edosam commented on #51
Hello @mk-5
Thank you for implementing this feature.
It's working correctly on Android device, but app is still connecting to base database on iOS.
Is there some other configuration required for iOS? Or it isn't just implemented for iOS?

[2021-07-01 17:41] mk-5 commented on #51
@edosam it should work on ios as well. I need to check

[2021-07-05 21:02] mk-5 commented on #51
@edosam  I checked, and it looks good 🤔

could you send me an info about which DB action is causing this problem?

by the way, in order to use different database for iOS/Android, you can also add different DATABASE_URL in your `GoogleService-info.plist` like this:

[code]

[2021-08-09 20:25] #51 closed

[2021-09-22 08:26] Daniel-Donev commented on #48
Hi,
I try to implement Sign-In with Apple but when I change the library version to the latest 3.2.0 Gradle failed to resolve the dependency...
Can you help me with this?

[2021-09-22 09:49] Daniel-Donev opened #54 "Support for Cloud Messaging"
Is your feature request related to a problem? Please describe.

Hi can you build an integration for Firebase Cloud Messaging?

It would make send Push Notification much easier.

[2021-09-22 18:56] mk-5 commented on #48
Hello @Daniel-Donev

sure, I need to check, and I'll let you know. There was indeed a problem with shutting down the jcenter() repo. It could be that artefact has not been successfully deployed to maven central.

Pls check if you have mavenCentral() in your repositories block

[2021-09-25 07:29] Daniel-Donev commented on #48
Hi,
the problem is still here...
this is my repositories block

buildscript {
    repositories {
        mavenLocal()
        maven { url "https://plugins.gradle.org/m2/" }
        maven { url "https://oss.sonatype.org/content/repositories/snapshots/" }
        jcenter()
        google()
        maven { url 'https://maven.google.com' }
        mavenCentral()
    }
    dependencies {
        classp

[2021-09-28 18:02] Daniel-Donev commented on #48
Is it possible to download version 3.2.0 with Gradle or the problem is in the maven version?

https://search.maven.org/search?q=g:pl.mk5.gdx-fireapp

[2021-10-04 20:28] mk-5 commented on #48
@Daniel-Donev I need to check, it's just not deployed into maven-central correctly.

btw, I think you can remove jcenter() from your repositories. https://blog.gradle.org/jcenter-shutdown

[2021-10-11 12:48] kaloyanhlebarov opened #55 "Unable to get the latest release from Maven"
Hello,
I am unable to get the latest release from Maven. Currently the latest version deployed is 3.1.0.

Other than that, @mk-5 thanks for the great work! ❤️

[2021-10-15 18:05] Daniel-Donev commented on #48
when I include iosEntitlementsPList in my robovm.xml like this:

<iosEntitlementsPList>data/Entitlements.plist</iosEntitlementsPList>
  <iosInfoPList>Info.plist.xml</iosInfoPList>

I run into this error:
[ERROR] Couldn't start application
org.robovm.libimobiledevice.LibIMobileDeviceException: ApplicationVerificationFailed
    at org.robovm.libimobiledevice.util.AppLauncher$1.error(AppLauncher.java

[2021-10-16 14:19] Daniel-Donev commented on #48
@mk-5
Hi, today I'have tried the apple sign in implementation on iPhone 7 with iOS 15 and everything was ok (the sign in popped up asking for password) until after I have entered my pass I get this error:
"Unable to parse the ID Token."
I believe that this is something from the library? What do you think?

[2021-10-16 14:21] #55 closed, assigned to nobody

[2021-10-19 20:39] mk-5 commented on #48
@Daniel-Donev can you give me a full stacktrace? or at least some part?

[2021-10-20 20:35] mk-5 commented on #48
Yes, you have throwable there. You can print the stack trace :)

throwable.printStackTrace();

On Wed, Oct 20, 2021, at 07:46, Daniel-Donev wrote:

Pozdrawiam,
Mateusz Kulawik

[2021-11-09 13:51] wangdong20 opened #56 "Support for goOffline, onDisconnect().setValue() in core and Android"
**Is your feature request related to a problem? Please describe.**
I am glad to find this library to support Firebase realtime database in libgdx. You are life saver. I try to implement DatabaseReference.goOffline() and goOnline to manually connect database or disconnect but I couldn't find that API. I also cannot find DatabaseReference.onDisconnect() to set value or remove value in database when

[2021-11-13 09:58] Daniel-Donev commented on #48
Hi @mk-5, sorry for the delay I was sick...

the throwable.printStackTrace(); return

java.lang.RuntimeException: Unable to parse the ID Token.
    at pl.mk5.gdx.fireapp.ios.auth.AppleAuthProvider$1.invoke(AppleAuthProvider.java:54)
    at pl.mk5.gdx.fireapp.ios.auth.AppleAuthProvider$1.invoke(AppleAuthProvider.java:50)
    at org.robovm.pods.firebase.auth.FIRAuth$$BlockMarshaler2.invoked(Unknown

[2021-11-19 10:31] Daniel-Donev commented on #48
Where do you think is the problem?
Can I track anything else to help you?

[2021-11-23 20:34] mk-5 commented on #48
@Daniel-Donev mhmm I need to investigate. `Unable to parse the ID Token.` is nothing comming from our lib.

The error is comming from `FIRAuth.auth().signInUsingCredential` execution. The execution is here: https://github.com/mk-5/gdx-fireapp/blob/master/gdx-fireapp-ios/src/pl/mk5/gdx/fireapp/ios/auth/AppleAuthProvider.java line 54

[2021-11-23 20:38] mk-5 commented on #56
Hello @wangdong20 ! good to hear :)

There is an existing API to listen on connection change.  Example:

[code]

is it something you are looking for?

[2021-11-24 05:02] wangdong20 commented on #56
It would be better to implement DatabaseReference.onDisconnect().setValue or remove value API for me. Is there also goOffline, goOnline API to disconnect or connect the database manually? Like this APi page [API](https://firebase.google.com/docs/reference/kotlin/com/google/firebase/database/DatabaseReference#goOffline())

[2021-11-24 06:38] Daniel-Donev commented on #48
Hi @mk-5, I implement all steps from https://github.com/mk-5/gdx-fireapp/wiki/iOS-Guide
and FIRAuth I think is from download required frameworks.
I don't have any problems with Google Sign in.

If I need to update some of the required frameworks or its something else?

Thanks for the support

[2021-11-25 22:28] mk-5 commented on #56
@wangdong20   👍 make sense.  I will look on that

[2021-12-04 10:40] Daniel-Donev commented on #48
Hi, @mk-5 sorry to bother you again.
I just wanted to ask did you had the time to look into the problem?

[2021-12-04 20:27] mk-5 commented on #48
@Daniel-Donev hi hi, no problem. I was out for a short period of time.

mhmmm there is also additional step required in order to make apple sign-in works. It's described here: https://github.com/mk-5/gdx-fireapp/wiki/Apple-Sign-in

[2021-12-04 21:02] Daniel-Donev commented on #48
Hi, @mk-5 I have implemented all of these steps since the beginning.

and I still have the problem:

java.lang.RuntimeException: Unable to parse the ID Token.
at pl.mk5.gdx.fireapp.ios.auth.AppleAuthProvider$1.invoke(AppleAuthProvider.java:54)
at pl.mk5.gdx.fireapp.ios.auth.AppleAuthProvider$1.invoke(AppleAuthProvider.java:50)
at org.robovm.pods.firebase.auth.FIRAuth$$BlockMarshaler2.invoked(Unkno

[2021-12-04 21:10] mk-5 commented on #48
@Daniel-Donev yes, I'm able to run this test successfully: https://github.com/mk-5/gdx-fireapp/blob/master/e2e/core/src/pl/mk5/gdx/fireapp/e2e/tests/AuthAppleSignInTest.java

[2021-12-04 21:26] Daniel-Donev commented on #48
Ok, thank you.
I will check all the steps again.

[2021-12-04 21:29] mk-5 commented on #48
@Daniel-Donev I just checked, look:

![image](https://user-images.githubusercontent.com/31850900/144725110-9a5ceeb6-276c-48dd-9651-0ab2dbdcc53d.png)

"Unable to parse the ID Token." we need to find what could be the reason for that. Do you have apple sign-in enabled in firebase console?

[2021-12-04 21:57] Daniel-Donev commented on #48
Yeah, I think so...
These days I will check all of my implementations and will share what I will find.

Thank you!

[2022-01-08 12:29] Daniel-Donev commented on #48
Hi I still have the same problem :(

I have a configuration on my firebase for ios version and authentication with apple
I configure my App in developer.apple.com to support "sign in with Apple"
I implement all of your steps. Ios version successfully login with "google sign-in" and use firebase.

overall I have this error return:
Domain=FIRAuthErrorDomain Code=17004 "Unable to parse the ID Token."

[2022-01-15 19:51] mk-5 commented on #48
Mhmm, I will examinate the E2E test configuration, maybe I forgot about something in docs.

Now I’m „out-of-pc”, but I will try to look on it asap ;)

On Sat, Jan 8, 2022, at 13:29, Daniel-Donev wrote:

Pozdrawiam,
Mateusz Kulawik

[2022-01-17 16:54] Daniel-Donev commented on #48
Hi

Thank you for your help.

I downloaded your project and ran e3e the test.

I replaced GoogleService-Info.plist to work with our firebase and changed app.id in robovm.properties.

I had to replace "ios/libs/" I guess because of the difference in the PC architecture.

The other change I had was to remove this:
"<key> com.apple.security.get-task-allow </key>
     "true />"
from Entitlements.plist

[2022-01-25 21:02] mk-5 commented on #48
@Daniel-Donev interesting ... mhmmm what do you mean by "I had to replace ios/libs/ beacuse of the difference in the PC architecture?

[2022-01-25 21:02] #38 closed

[2022-01-25 21:12] Daniel-Donev commented on #48
Hi
@mk-5 in your e3e the test project you have all libraries (frameworks) in ios/libs/ .
the libraries (frameworks) in your folder didn't work in our environment and we downloaded them from here -  https://firebase.google.com/download/ios and replaced them in the same folder.

[2022-01-27 21:42] mk-5 commented on #48
@Daniel-Donev mhmm, for me it works. It really looks like some firebase-console configuration issue.

Have you seen this? https://stackoverflow.com/questions/56712711/login-through-facebook-using-oauth-issue-with-firebase-app-id-in-the-input-toke
Guy got the same error, FIRAuthErrorDomain Code=17004

It's hard to say something, because I cannot see your firebase console. I would go through points

[2022-01-28 07:15] Daniel-Donev commented on #48
Hi @mk-5

I try and test so many times my firebase-console configuration -
![console](https://user-images.githubusercontent.com/52632475/151502977-e696207f-fa9e-42f4-b449-f965a09502ef.png)

and all off this points: https://firebase.google.com/docs/auth/ios/apple?authuser=0

user: Have an Apple ID with two-factor authentication (2FA) enabled. - true
user: Be signed in to iCloud on an Apple device.

[2022-01-29 10:55] Daniel-Donev commented on #48
Hi @mk-5 we send you an e-mail with demo project.
Thank you for your help.

[2022-01-29 17:02] mk-5 commented on #48
@Daniel-Donev  all right, I'll check it as soon as I get it:  git@mk5.pl

[2022-02-01 08:22] Daniel-Donev commented on #48
@mk-5, just wondering did you get the email?

[2022-02-09 20:55] mk-5 commented on #48
@Daniel-Donev nope, I didn't get anything

[2022-02-12 09:10] Daniel-Donev commented on #48
@mk-5, we have resended the e-mail from another e-mail account - Magic box.
If it`s not in you inbox please check the spam folder.

[2022-03-11 19:45] mk-5 commented on #56
@wangdong20 sorry for huge delay. I didn't have so many free hours to take some gdx-fireapp topics.

but 🥁🥁🥁🥁🥁 good news 🥳 the feature is almost there. It should be release today/tomorrow.

There will be a support for methods:

onDisconnect().removeValue()
onDisconnect().setValue(object)
onDisconnect().cancel()
.goOnline()
.goOffline()

[2022-03-11 22:46] mk-5 commented on #56
@wangdong20  pls check version 3.3.0. I've added a few exampels in WIKI

[2022-03-11 22:46] #56 closed

[2022-03-12 15:56] wangdong20 opened #59 "DataSnapshot implementation"
**Is your feature request related to a problem? Please describe.**
When I try to observe child change with child event added, I want to get access to the DataSnapshot to access the key, value and child in Database reference.

**Describe the solution you'd like**
Please implement DataSnapshot when observe Database reference child change event like [DataSnapshot](https://firebase.google.com/docs/ref

[2022-03-12 16:04] mk-5 commented on #59
@wangdong20  could you give me some code/pseudo code example? I'm not sure if I got it right

[2022-03-12 16:10] wangdong20 commented on #59
Sure.
This is what I want to implemented with gdx-fireapp API.
`ref.inReference("users/${it.userInfo.uid}").onChildChange(DataSnapshot::class.java, ChildEventType.ADDED)`

This is how the iOS official implemented for what I want.
`self.ref!.child("users/\(user.uid)").observe(.childAdded, with: {snapshot in
     if snapshot.key == "GameId" {// TODO}`

I already implement it in iOS but not in libgdx

[2022-03-12 17:41] mk-5 commented on #59
@wangdong20  onChildEvent is already covered:

Example:
[code]

[2022-03-13 06:13] wangdong20 commented on #59
I know onChildEvent is covered. My question is there a way to implement DataSnapshot as the data type to access child change under current child in database.

For instance, a table like this:
user/fdhsi3232
                        /"gameId":"483hujkds"
                        /"status":"placeholder"
the data reference path is "user/fdhsi3232"
When the child added event fired, can I access the Data

[2022-03-17 08:52] wangdong20 opened #60 "removeAllObserver() implementation"
**Is your feature request related to a problem? Please describe.**
After object child event triggered, is there any method to removeObserver to dismiss child event trigger in the future?

**Describe the solution you'd like**
Implement removeAllObserver() API when you do not want to observe child event if you did before.

[2022-03-20 14:33] wangdong20 opened #61 "onChildChange function doesn't work"
**Describe the bug**
I tried to use onChildChange function to observe ChildEvent.Added event with wanted datatype Map::class.java(Kotlin). When DB child added, but no luck.

**To Reproduce**
Steps to reproduce the behavior:
1. Write code: `ref.inReference("users/${it.userInfo.uid}").onChildChange(Map::class.java, ChildEventType.ADDED).then(Consumer<Map<String, Any>>{// TODO})`
2. Add child by Fire

[2022-08-13 23:06] mk-5 commented on #60
@wangdong20 should be relevant easy to implement. Stay in touch

[2022-08-13 23:08] mk-5 commented on #59
@wangdong20 could you give me some psuedo-code proposition, how it should look. You can modify the example code snipper from your previous comment

[2022-08-13 23:09] #12 closed

[2022-08-13 23:10] #5 closed

[2022-08-14 12:27] wangdong20 commented on #59
I already use official Firebase realtime database in libgdx. I can implement interface in android launcher as a bridge between core and android module. The Firebase realtime database framewrok is very large, I don't think it will be good to rewrite firebase database framework and interface in this repo. I will use official framework. If I were you, I will abandon this repo.

[2022-09-20 19:58] #59 closed

[2022-09-20 20:00] mk-5 commented on #59
Re-write of the whole Firebase realtime database framework is not a goal of that library. It's handy for some cases of course as any library :) If you are not using multiple platforms, but only Android - using the official sdk directly probably make sense as well.

[2022-09-20 20:05] mk-5 commented on #61
@wangdong20 I think you are listening on the wrong path. According to firebase documentation:

[code]

You should listen on `inReference("users").onChildChange(List.class, ChildEventType.ADDED)`. I know that you already switched yourself to official android SDK so I'm going to close the issue. Pls feel free to re-open it :)

[2022-09-20 20:05] #61 closed

[2022-11-05 15:44] prateekchandan opened #62 "IOS Guide seems out-dated, and the given specification doesn't work"
**Describe the bug**
I am following this guide:
https://github.com/mk-5/gdx-fireapp/wiki/iOS-Guide

I have multiple problems:
1. Import of ios doesn't work
[code]
2.  The targets in `https://firebase.google.com/download/ios,` is out-dated and the internal folder structure has changed which leads to app not building
Error:
[code]

The older folder structure was:
[code]

Now its

[code]

I am not su

[2022-11-11 23:35] mk-5 commented on #62
Hi @prateekchandan ! thanks for reporting.

Sooo yes, ... looks like IOS guide is a bit outdated 🤞

1. That version doesn't not exist because of the "bintray gone". You should use the latest available version: [3.3.0](https://github.com/mk-5/gdx-fireapp/releases/tag/3.3.0)

Here is a little POC project with end-2-end tests. https://github.com/mk-5/gdx-fireapp/tree/master/e2e . Pls check if it's he